
<nav>
     <h4 class="text-primary">{{bienvenida}}</h4> 
     
</nav>

<!-- Tab links -->
<div class="tab">
  <button id="primerTabLink" class="tablinks" onclick="openTab(event, 'productos')">Productos</button>
  <button class="tablinks" onclick="openTab(event, 'carrito')">Carrito</button>
  <button class="tablinks" onclick="openTab(event, 'usuario')">Usuario</button>
  <input id="btnLogout" type="button" value="Cerrar Sesión" class="btn btn-link" onclick="logout()">
</div>

<!-- Tab content -->
<div id="productos" class="tabcontent" >
  
 
</div>

<div id="carrito" class="tabcontent">
 
 
</div>

<div id="usuario" class="tabcontent">
  <h3>Datos de Registro</h3>
 
</div>