<div class="alert alert-success">
    <div class="row">
        <div class="col-xs-6" style="margin-left:5%;">
            <h3>{{bienvenida}}</h3>
        </div>
        <div class="col-xs-1">
        </div>
        <div  class="col-xs-2">
            <input type="button" value="Desloguear" class="btn btn-sm btn-warning" onclick="logout()" style="width:100px">
        </div>
    </div>
</div>